<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KAPLAY Dev Mode</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 16px;
            font-size: 16px;
            font-family: Monospace;
            background: #2a303c;
            color: white;
        }

        li {
            list-style: none;
            font-size: 1.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .header {
            margin: 10px auto 40px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            width: fit-content;
        }

        .wrapper {
            display: flex;
            gap: 4rem;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: white;
            user-select: none;
        }

        .main-title {
            text-align: center;
            font-weight: bold;
            font-size: 3rem;
        }

        .folder {
            width: 340px;
        }

        .folder details {
            margin-left: 20px;
        }

        .subfolder {
            font-size: 1.6rem;
            font-weight: bold;
            color: white;
            user-select: none;
        }

        .test-entry.hidden {
            display: none;
        }

        li {
            color: #abdd64;
            width: 20ch;
        }

        a {
            color: #abdd64;
            text-decoration: none;
        }

        a:hover {
            background: #abdd64;
            color: white;
        }
    
        #search-bar {
            margin: 0px auto;
            width: 100%;
            height: 30px;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1 class="main-title">KAPLAY Dev Mode</h1>
        <input id="search-bar" type="text"></input>
    </div>
    <div class="wrapper">
        <details open class="folder">
            <summary class="title">Playtests</summary>
            <% playtests.forEach((group)=> { %>
                <details open>
                    <summary class="subfolder">
                        <%= group.folder %>
                    </summary>
                    <% group.tests.forEach((test)=> { %>
                        <li class="test-entry" data-name="<%= test.name %>">
                            <a href="/<%= test.url %>">
                                <%= test.name %>
                            </a>
                        </li>
                    <% }); %>
                </details>
        <% }); %>
        </details>
        <details class="folder" open>
            <summary class="title">Examples</summary>
            <% examples.forEach((test)=> { %>
                <li class="test-entry" data-name="<%= test %>">
                    <a href="/<%= test %>">
                        <%= test %>
                    </a>
                </li>
            <% }); %>
        </details>
    </div>
    <script>
        const searchBar = document.querySelector("#search-bar");

        const updateElements = (searchTerm) => {
            const testEntries = document.querySelectorAll(".test-entry");

            for (const testEntry of testEntries) {
                const name = testEntry.dataset.name;

                if (name.indexOf(searchTerm) != -1) {
                    testEntry.classList.remove("hidden");
                }
                else {
                    testEntry.classList.add("hidden");
                }
            }
        }

        searchBar.addEventListener("input", (e) => {
            updateElements(e.target.value);
        });
    </script>
</body>

</html>